<% if !item.completed_at.nil? %>
<p><strike><%= item.content %></strike></p>
<% else %>
<p><%= item.content %></p>
<% end %>
<p>
	<%= link_to "Mark as compete", mark_as_complete_todo_item_path(@todo, item), method: :patch %>
	<%= link_to "Delete", todo_item_path(@todo, item), method: :delete, data: {confirm: "Are you sure?"} %>
</p>