<h2><%= @todo.title %></h2>
<p><%= @todo.description %></p>

<div>
	
</div>

<p>
<%= link_to "Edit", edit_todo_path %>
<%= link_to "Destroy", todo_path, method: :delete, data: {confirm: "Are you sure?"} %>
</p>